<!DOCTYPE html>
<html>
<head>
  <title>Openaura</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <p class="header-masthead">
    <%= link_to root_path do %>OpenAura Browser<% end %>
  </p>
<header>

<main>
  <%= yield %>
</main>

</body>
</html>
